* {
  border: 3px solid black;
  box-sizing: border-box;
}

body {
  width: 100vw;
}

.header,
.footer {
  height: 200px;
  clear: both;
}

.section1 {
  float: left;
  height: 300px;
  width: 33.3333%;
}
.section2 {
  float: left;
  height: 300px;
  width: 50%;
}
